<li>{{#link-to 'question' question.id}}
  {{question.title}}<br>
  <i>Asked by {{question.author}}</i><br>
  {{/link-to}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete</button>
</li>
