<ul>
{{#each watchedQuestions.questions as |question|}}
  <li>{{question.title}}<br>
    <button class="btn btn-xs" {{action 'removeFromWatched' question}}>Remove from Watchlist</button>
  </li><br>
{{/each}}
</ul>
