<h4>About Answers!</h4>
<p>
Answers is a webpage built in Ember to demonstrate knowledge of how to set up an Ember project, routes, templates, components, helpers, services, computed properties, etc.
</p>
