<div class="container">
  <h4>Welcome to Answers</h4>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update"}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

</div>
