{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-answer question=model saveAnswer="saveAnswer"}}

<br>
<div class="container">
  {{update-question question=model update="update"}}
</div>
